@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  font-family: Quicksand, sans-serif;
  font-size: 1.2em;
  color: #333;
  line-height: 24px;
  background-color: rgb(241, 241, 241);
  margin: 0px;
}

main {
  max-width: 56rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  font-family: Fredoka One, Quicksand, sans-serif;
}

a {
  color: rgb(81, 122, 211);
}

/* Header styles */
.banner {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

#bannerImage {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
/* -- */

.about {
  text-align: center;
}

.creatorsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.centerHeader {
  text-align: center;
}

.socials {
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.socials > div > img {
  vertical-align: -0.15em;
}

.footer {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.hashtag {
  color: rgb(19, 83, 102);
}
