@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  font-family: Quicksand, sans-serif;
  font-size: 1.2em;
  color: #333;
  line-height: 24px;
}

h1,
h2,
h3 {
  font-family: Fredoka One, Quicksand, sans-serif;
}

a {
  color: lightseagreen;
}

.banner {
  text-align: center;
  width: 100%;
}

.about {
  text-align: center;
}

.socials {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.socials > div > img {
  vertical-align: -0.15em;
}

.footer {
  text-align: center;
}
